* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.head {
  margin-bottom: 1rem;
  box-shadow: 0 4px 4px rgb(221, 220, 220);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.temp {
  height: 40px;
  width: 40px;
}

#logo {
  height: 30px;
  padding-right: 10px;
}
#count {
  font-size: 3rem;
  font-weight: bold;
}

#increment_decrement {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

#increment,
#decrement,
#reset {
  height: 40px;
  width: 40px;
  background-color: aqua;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid gray;
  border-radius: 5px;
  font-size: 1rem;
}

#reset {
  width: 80px;
}

#inc {
  line-height: 25px;
  width: 80px;
}

h1,
#count,
#increment_decrement,
#user_input,
#reset,
#temp {
  padding: 20px 0;
}

#count,
#increment_decrement,
#user_input {
  padding-bottom: 0;
}

#temp {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 1.5rem;
  font-weight: 500;
}

#increment:active,
#decrement:active,
#reset:active {
  transform: scale(0.95);
  background-color: lightblue;
  transition: transform 0.1s, background-color 0.1s;
}
